<input #name type="input"/>
<input #btnName type="button" value="click me" (click) = "btnClicked()" />

<second-comp [name] = "userName"></second-comp>
<ul>
    <li *ngFor = "let c of contribs">
        <contrib-comp></contrib-comp>
    </li>
</ul>
<user-comp></user-comp>
